@model MoviesInfoViewModel

<div class="row">
    <div class="col col-lg-4 mx-auto text-center">
        <div class="card" style="width: 18rem;">
            <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
            <img src="@Model.Image" class="card-img-top" alt="@Model.Value">
            <div class="card-body">
                <h5 class="card-title">@Model.Value</h5>
                <h6 class="card-subtitle mb-2 text-muted">Company</h6>
                <p class="card-text">@Model.Company.Value</p>

                <h6 class="card-subtitle mb-2 text-muted">Releasedate</h6>
                <p class="card-text">@Model.ReleaseDate.ToShortDateString()</p>

                <h6 class="card-subtitle mb-2 text-muted">Actors</h6>
                <p class="card-text">
                    @foreach (var actor in Model.Actors)
                    {
                        <a class="card-link" asp-controller="Actors"
                           asp-action="Movies"
                           asp-route-id="@actor.Id">@actor.Value</a>
                    }
                </p>
                <h6 class="card-subtitle mb-2 text-muted">Directors</h6>
                <p class="card-text">
                    @foreach (var director in Model.Directors)
                    {
                        <a class="card-link" asp-controller="Directors"
                           asp-action="Movies"
                           asp-route-id="@director.Id">@director.Value</a>

                    }
                </p>
                <h6 class="card-subtitle mb-2 text-muted">Average rating:</h6>
                <p class="card-text">@Model.AverageRating</p>
                <a asp-controller="Movies" asp-action="Index" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>